@page "/vwexpenselist"
@page "/vwexpenselist/{pPaidToId:int}"
@inject HJNKoyil.Controllers.vwExpenseController svcExpense
@inject NavigationManager oNavManager

<h2> List </h2>

<div class="row searchactionrow">
    <div class="col-md-6">
        <div class="input-group">
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" placeholder="Search by Service Provider ID..." @bind="searchID">
            <span class="input-group-btn">
                <button class="btn btn-default" @onclick='Search' type="button" style="border: 2px solid grey; background-color: lightgrey;">
                    <span class="fas fa-search"></span><b>Search</b>
                </button>
                @*@if (filterOn)
                {
                <button type="button" class="btn btn-link" @onclick='ClearFilter'>Clear Filter</button>
                }*@
            </span>
        </div>
    </div>
</div>

<p>
    <button class="nav-item" @onclick="()=>Create(0)"> Create  </button>
</p>
<table>
    <tr>
        <th></th>
        <th>
            Id
        </th>
        <th>
            ServiceProviderId
        </th>
        <th>
            Amount
        </th>
        <th>
            Comments
        </th>
        <th>
            ExpenseType
        </th>
        <th>
            IsActive
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            ModifiedBy
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            ServiceProvider
        </th>
        <th>
            ExpenseTypeDesc
        </th>
        <th>
            PaidBy
        </th>
        <th>
            PaidByName
        </th>
        <th>
            ExpenseDate
        </th>

    </tr>

    @foreach (var oItem in oModel)
    {
        <tr>
            <td>
                <button @onclick="()=>Create(oItem.Id)">Edit</button>
            </td>
            <td>

                @oItem.Id
            </td>
            <td>

                @oItem.ServiceProviderId
            </td>
            <td>

                @oItem.Amount
            </td>
            <td>

                @oItem.Comments
            </td>
            <td>

                @oItem.ExpenseType
            </td>
            <td>

                @oItem.IsActive
            </td>
            <td>

                @oItem.CreatedBy
            </td>
            <td>

                @oItem.CreatedDate
            </td>
            <td>

                @oItem.ModifiedBy
            </td>
            <td>

                @oItem.ModifiedDate
            </td>
            <td>

                @oItem.ServiceProvider
            </td>
            <td>

                @oItem.ExpenseTypeDesc
            </td>
            <td>

                @oItem.PaidBy
            </td>
            <td>

                @oItem.PaidByName
            </td>
            <td>

                @oItem.ExpenseDate
            </td>
        </tr>
    }
</table>



@code
{
    [Parameter]
    public int pPaidToId { get; set; }
    List<HJNKoyil.Models.VwExpense> oModel;

    private bool sortDirection = false;
    private int sortIndex = 0;
    private string spinnerbgImage = "img/spinner.gif";
    private bool spinning = true;
    private int searchID = 0;
    private bool filterOn = false;
    private int filteredRecordCount = 0;
    private string searchMessage = "";

    private void Create(int vId)
    {
        //put your code here
        oNavManager.NavigateTo("/CreateExpense/" + vId.ToString());
    }

    protected override async Task OnInitializedAsync()
    {
        oModel = new List<Models.VwExpense>();

        // if (pPaidToId != 0)
        // {
        //     oModel = svcExpense.ListPaidTo(pPaidToId).ToList();
        // }
        // else
        //     oModel = svcExpense.List().ToList();
    }

    protected async Task Search()
    {
        if (searchID == 0)
        {
            //set search var
            filterOn = false;
            filteredRecordCount = 0;
            searchMessage = "";
        }
        else
        {
            try
            {
                oModel = svcExpense.ListPaidTo(searchID, 1, 20).ToList();
            }
            catch (Exception ex)
            {
                Console.WriteLine("Catching Error\n");
                Console.Write(ex.InnerException);
                Console.Write(ex.Source);
                Console.WriteLine(ex.Message);
            }
        }
    }
}
